<h1>All Post</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Status</th>
            <th>AllowComments</th>
        </tr>
    </thead>
    {{#each posts}}
    <tbody>
        <tr>
            <td>{{id}}</td>
            <td>{{title}}</td>
            <td>{{status}}</td>
            <td>{{allowComments}}</td>
            <td><a href="/admin/posts/edit/{{id}}" class="btn btn-warning btn-sm">Edit</a></td>
            <td>
                <form action="/admin/posts/{{id}}?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
    </tbody>
    {{/each}}
</table>