
    

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Post Content Column -->
            <div class="col-lg-8">

                <!-- Title -->
                <h1 class="mt-4">{{post.title}}</h1>

                <!-- Author -->
                <p class="lead">
                    by
                    <a href="#">{{post.user.firstName}}</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p>Posted on {{generateTime date 'MMMM Do YYYY'}}</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-fluid rounded" src="/uploads/{{post.file}}" alt="">

                <hr>

                <!-- Post Content -->
                <p class="lead">{{post.body}}</p>


                <hr>

            {{#if user}}
                {{#if post.allowComments}}

                <!-- Comments Form -->
                <div class="card my-4">
                    <h5 class="card-header">Leave a Comment:</h5>
                    <div class="card-body">
                        <form action="/admin/comments" method="POST">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" name="name">
                                <textarea name="body" class="form-control" rows="3"></textarea>
                                <input type="hidden" name="id" value="{{post.id}}">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>

                {{else}}
                <h2>Comments are not allowed For this Post!</h2>
                <hr><br>

                {{/if}}

            {{else}}
                <h4>You need to 👉 <a href="/login">Login</a> to comment</h4> 
                <hr>
            {{/if}}

                <!-- Single Comment -->
                {{#each post.comments}}
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        {{!-- <h5 class="mt-0">{{name}}</h5> --}}
                        <h5 class="mt-0">{{user.firstName}}</h5>
                        {{body}}
                    </div>
                </div>
                {{/each}}
            </div>


            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Search Widget -->
                <div class="card my-4 left">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>

                {{> home/sidebar}}

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
